.modal-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 76vw;
  border-radius: 1rem;
  padding: 1rem 1rem;
  box-shadow: 1px 1px 5px #808080;
  left: 10vw;
  z-index: 2;
  top: 195px;
  max-height: 160px;
}

.loader-text {
  /* z-index: 9;
  margin-top: 47px;
  font-size: 1.6rem;
  color: green;
  position: relative; */
  z-index: 9;
  margin-top: 96px;
  font-size: 1.6rem;
  background: green;
  position: relative;
  padding: 0.3rem 1rem;
  color: #fff;
}

.show-blurr {
  color: transparent !important;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

.info-box {
  font-family: "Rubik", sans-serif;
  max-width: 230px;
  text-align: start;
  position: relative;
  padding: 1rem 3rem 1rem 1.5rem !important;
}

.info-box__key {
  font-weight: 500;
  color: hsl(0, 0%, 59%);
  margin: 0px;
  font-size: 14px;
}

.info-box__value {
  font-weight: 500;
  color: hsl(0, 0%, 17%);
  font-size: 1.6rem;
  margin: 0 !important;
  padding-top: 1rem;
}

.info-box__left-border {
  position: absolute;
  width: 1px;
  background-color: hsl(0, 0%, 59%);
  height: 70px;
  left: 0;
  top: 30px;
}

/* .change-background {
  background-color: #ffffe0 !important;
} */

/* FOR MOBILE DEVICES */

@media only screen and (max-width: 475px) {
  .modal-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    width: 80vw;
    border-radius: 1rem;
    padding: 1rem 1rem;
    box-shadow: 1px 1px 5px #808080;
    left: 6vw;
    z-index: 2;
    top: 195px;
    max-height: 100vh;
  }
  .info-box__left-border {
    display: none !important;
  }
  .info-box {
    font-family: "Rubik", sans-serif;
    max-width: 230px;
    text-align: center;
    max-width: 100%;
    padding: 0.6rem 0 !important;
  }
  .info-box__value {
    font-weight: 500;
    color: hsl(0, 0%, 17%);
    font-size: 1.25rem !important;
    padding-top: 0.4rem;
  }

  .loader-text {
    margin-top: 180px !important;
  }
}
