.modalContainer {
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  flex-wrap: wrap;
  width: 80vw;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px #808080;
  left: 9vw;
  z-index: 2;
}
