.container {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 199, 252, 1) 100%
  ); */
  flex-direction: column;
  position: relative;
}

.container__login-box {
  height: 400px;
  width: 360px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 50;
  position: absolute;
  box-shadow: 9px 17px 25px black;
}

.login-header {
  margin: 0 !important;
  color: rgb(255, 222, 64);
  font-family: "Rubik", sans-serif;
}
