.search-container {
  width: 36vw;
}

form {
  display: flex;
  width: 100%;
}

.search-ip-input {
  border: none;
  padding: 1.125rem;
  border-radius: 0.75rem 0 0 0.75rem;
  width: 100%;
  font-size: 18px;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: hsl(0, 0%, 59%);
}

.search-ip-input {
  outline: none;
}

.submit-btn {
  cursor: pointer;
  padding: 1rem 1.4rem;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #000;
  border: 1px;
}

.arrow-img {
  margin-top: 2px;
}
